.wrapper {
    width: 100%;
    max-height: 100px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;

    img {
        object-fit: contain;
        width: 100%;
    }
}

.centered-text {
    font-family: math, 'Sacramento', 'Dancing Script', sans-serif;
    font-weight: 700;
    font-size: xxx-large;
    position: absolute;
    left: 50%;
    /* Center horizontally */
    transform: translateX(-50%);
    /* Center horizontally */
    padding: 5px 10px;
}