<div class="column full-center">
    <p-carousel [value]="jellyBeansList" [numVisible]="3" [numScroll]="3" [circular]="true"
        [responsiveOptions]="responsiveOptions" autoplayInterval="5000" class="centerCarrusel">
        <ng-template let-item pTemplate="item">
            <div class="row wrap gap-1 space-between">
                <jelly-bean [jellyBean]="item"
                    (someOutput)="onJellyBeanOutput($event)"></jelly-bean>
            </div>
        </ng-template>
    </p-carousel>
</div>