@import './app/styles/veriables.scss';
@import "primeng/resources/themes/bootstrap4-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import 'primeicons/primeicons.css';

/* global styles */
.p-rating-cancel-item {
    display: none !important;
}

.p-button .p-button-icon-left {
    margin-right: 0;
}

.pi-search:before {
    content: "\e908";
}

:host ::ng-deep .p-dialog .product-image {
    width: 150px;
    margin: 0 auto 2rem auto;
    display: block;
}

// A
.align-center {
    align-items: center;
}

// C
.column {
    display: flex;
    flex-direction: column;
}

// F
.full-center {
    align-items: center;
    justify-content: center;
}

.flexContainer {
    display: flex;
}

// G
.gap-05 {
    gap: 0.5rem;
}
.gap-1 {
    gap: 1rem;
}
.gap-2 {
    gap: 2rem;
}

// H
html,
body,
p,
h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
app-home {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}

// J
.justify-center {
    align-items: center;
}

// M
.mb-15 {
    margin-bottom: 15px;
}
.mb-25 {
    margin-bottom: 25px;
}
.mt-15 {
    margin-top: 15px;
}
.mt-25 {
    margin-top: 25px;
}

// R
.row {
    display: flex;
    flex-direction: row;
}

// S
.space-between {
    justify-content: space-between;
}

// W
.wrap {
    flex-wrap: wrap;
}


